---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPENWEATHER_API_KEY>&lang=en&q=10001&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":3.8344,"lat":36.3516},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"base":"stations","main":{"temp":21.63,"feels_like":21.57,"temp_min":21.63,"temp_max":21.63,"pressure":1017,"humidity":66,"sea_level":1017,"grnd_level":939},"visibility":10000,"wind":{"speed":2.57,"deg":16,"gust":2.33},"rain":{"1h":0.91},"clouds":{"all":100},"dt":1758895910,"sys":{"country":"DZ","sunrise":1758864941,"sunset":1758908174},"timezone":3600,"id":2491134,"name":"Said
        Abid","cod":200}'
  recorded_at: Fri, 26 Sep 2025 14:11:48 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<OPENWEATHER_API_KEY>&cnt=16&lang=en&q=10001&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":16,"list":[{"dt":1758898800,"main":{"temp":22.21,"feels_like":22.16,"temp_min":22.21,"temp_max":22.21,"pressure":1017,"sea_level":1017,"grnd_level":939,"humidity":64,"temp_kf":0},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":99},"wind":{"speed":4.43,"deg":2,"gust":3.76},"visibility":10000,"pop":1,"rain":{"3h":2.6},"sys":{"pod":"d"},"dt_txt":"2025-09-26
        15:00:00"},{"dt":1758909600,"main":{"temp":21.49,"feels_like":21.47,"temp_min":20.04,"temp_max":21.49,"pressure":1017,"sea_level":1017,"grnd_level":940,"humidity":68,"temp_kf":1.45},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":97},"wind":{"speed":2.91,"deg":345,"gust":3.36},"visibility":10000,"pop":1,"rain":{"3h":0.43},"sys":{"pod":"n"},"dt_txt":"2025-09-26
        18:00:00"},{"dt":1758920400,"main":{"temp":19.77,"feels_[...]
